@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;

    padding: 0;
    color: #8E362C;
    background-color: #f8f4f4;
    text-decoration: none;
}


body {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 14px;


}

button {
    margin: 20px;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    border: 1px solid #8E362C;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.navbar {
    position: relative;
    margin: 0;
    height: 67px;
    width: 100%;
    padding: 0px;
    background-color: #f8f4f4;
    border-bottom: 0.5px solid #8E362C;


    display: flex;
    justify-content: center;
    align-items: center;

}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 60%;
    height: 88%;
    text-align: center;
    padding: 3px;

}


.logo img {
    width: 66px;
    height: 58px;
}

.logspan {
    color: #8E362C;
}



.title {
    font-size: 22px;
    color: #FCC250;
    text-align: center;
    height: fit-content;
    margin-top: 12px;
    height: 80%;
    width: 80%;
}

.mobile_links {
    display: none;
}


.mobile_links_active {
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    border: #FCC250 0.5px solid;
    box-shadow: 0px 3px 5px 5px #FCC250;
}

.mobile_links_active a {
    margin-top: 10px;
    text-decoration: underline;
}

/* Info Section */
.info {
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    height: 100px;
    /* background-color: #a4e6eb; */
}


.words {
    margin: 0;
    padding: 0;
}


.hundred {
    background-color: #8E362C;
    color: #FCC250;
    border: #8E362C 1px solid;

}

.hundred:hover {
    background-color: #FCC250;
    color: #8E362C;
    box-shadow: 1px 4px 14px 0px #FCC250;
}

.info_head {
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #8E362C;
    text-decoration: underline;
    font-weight: 500;
}

.page_btn {
    height: 50px;
}

.btnspage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twenty:hover {
    background-color: #8E362C;
    color: #FCC250;
    box-shadow: 0px 4px 14px 0px #8E362C;
}

.explanation {
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.exp_head {
    width: 100%;
    background-color: #FCC250;
    color: #8E362C;
    text-align: center;
    height: fit-content
}

.score_table {
    width: 90%;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: 1px solid;
    height: 20px;
}

tr,
td {
    height: 25px;
    border: 1px solid;
}

th,
td {
    padding: 3px;
}

.scoreth {
    width: 10%;
}

/* Quiz Section */
.questions {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    position: relative;
    margin-top: 50px;
}


.quiz_header p {
    background-color: #FCC250;
    font-size: 50px;
    font-weight: 600;
    color: #8E362C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions_tab {
    width: 100%;
}

#topic {
    background-color: #FCC250;
}

.quiz_card {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 3px;
}

.quiz_card:hover {
    border-left: 1px solid #8E362C;
    border-bottom: 1px solid #8E362C;
    transition: 0.1s all ease;
}

.quizlets_inactive {
    width: 100%;

    display: none;
}

.quizlets_active {
    width: 100%;
    border: 1px solid #8E362C;
    background-color: #8E362C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.quiz_title {
    text-align: left;
}

.checkbox {
    width: 30px;
    height: 30px;
    accent-color: #8E362C;
    cursor: pointer;
    margin-left: 10px;
}

.nav_btn {
    background-color: #8E362C;
    color: #FCC250;
    border: #8E362C 1px solid;
}

.nav_btn:hover {
    background-color: #FCC250;
    color: #8E362C;

    transition: all ease 0.3s;
}

#submit {
    background-color: #8E362C;
    color: #FCC250;
    border: #8E362C 1px solid;
    transition: all ease 0.3s;

}

#submit:hover {
    background-color: #FCC250;
    color: #8E362C;
    transition: all ease 0.3s;
}

.score_card {
    border: 1px solid #8E362C;
    box-shadow: 0px 4px 14px 0px #8E362C;
    position: fixed;
    top: 40%;
    left: auto;
    height: 350px;
    width: 400px;
    z-index: 5;
    background-color: #FCC250;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.score_card h2 {
    font-size: 28px;
    margin-bottom: 30px;
    background-color: #FCC250;
}

.score_card h3 {

    background-color: #FCC250;
}

.score_card h1 {
    font-size: 48px;
    background-color: #FCC250;

}

.sm_linkc,
.sm_linkc i {
    background-color: #FCC250;
}



#topic {

    top: 30px;
    font-size: 18px;
    background-color: #1c1c1c;
}

.mobile_nav {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.social_media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#insta:hover>i,
#insta:hover {
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
}

#facebook:hover>i,
#facebook:hover {
    color: #4267B2;
    transition: all 0.3s ease;
}

#twitter:hover>i,
#twitter:hover {
    color: #1DA1F2;
    transition: all 0.3s ease;
}

.sm_linkc {
    margin: 10px;
}


/* For Laptop */
@media only screen and (min-width: 768px) {
    body {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        font-size: 16px;

    }

    .nav_btn:hover {
        background-color: #FCC250;
        color: #2c2c2c;
        transition: all ease 0.3s;
    }

    button {
        margin: 20px;
        border-radius: 15px;
        width: 150px;
        height: 40px;
        border: 1px solid #8E362C;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }

    .navbar {
        position: relative;
        margin: 0;
        height: 67px;
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_nav {
        display: none
    }

    .mobile_links {
        display: none;
    }


    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 45%;
        height: 90%;
        text-align: center;

    }


    .logo img {
        width: 66px;
        height: 60px;

    }

    .title {
        font-size: 35px;
        text-align: center;
        height: 60%;
        margin-top: 3%;
    }

    .logspan {
        color: #8E362C;
    }

    .links,
    .links a {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 30%;
        margin-left: 20px;
        margin-right: 20px;
    }



    .link:hover,
    .link a:hover {
        border-bottom: #8E362C 0.5px solid;
        box-shadow: 2px 1px #8E362C;
        color: #8E362C;
        transition: all 0.3s ease;

    }


    /* Info Section */
    .info {
        margin-bottom: 60px;
        margin-top: 30px;
        padding: 10px;
        width: 80%;
        height: 100px;
    }

    .words {
        margin: 0;
        padding: 0;
    }



    .info_head {
        font-size: 40px;
        text-align: center;
        width: 100%;
        font-weight: 500;
    }


    /* Quiz Section */
    .questions {
        width: 90%;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 10px;
    }


    .quiz_header p {

        font-size: 50px;
        font-weight: 600;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .questions_tab {
        width: 100%;
    }

    .quiz_card {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 4px;
    }


    .quizlets_inactive {
        width: 100%;
        display: none;
    }

    .quizlets_active {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .checkbox {
        width: 30px;
        height: 30px;

        cursor: pointer;
        margin-right: 10px;
    }


}

@media only screen and (min-width:1024px) {
    .logo {
        width: 25%
    }

    .links {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .links {
        display: none;
    }

    .mobile_links {
        display: none;
    }

}