@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #FCC250;
    background-color: #2c2c2c;
    text-decoration: none;
}


body {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 13px;
    ;

}

button {
    margin: 20px;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    border: 1px solid #16F1FF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.navbar {
    position: relative;
    margin: 0;
    height: 67px;
    width: 100%;
    padding: 0px;
    background-color: #2c2c2c;
    border-bottom: 0.5px solid #555EAB;


    display: flex;
    justify-content: space-between;
    align-items: center;

}



.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 50%;
    height: 88%;
    text-align: center;

    padding: 3px;

}


.logo img {
    width: 66px;
    height: 58px;
}

.logspan {
    color: #8E362C;
}



.title {
    font-size: 25px;
    color: #FCC250;
    text-align: center;
}

.links {

    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link:hover {
    border-bottom: #555EAB 0.5px solid;
    box-shadow: 2px 1px #555EAB;
    transition: all 0.3s ease;
}


/* Info Section */
.info {
    margin-bottom: 90px;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    height: 100px;
    /* background-color: #a4e6eb; */
}


.words {
    margin: 0;
    padding: 0;
}


.hundred {
    background-color: #16F1FF;
    color: #F3FEFF
}

.hundred:hover {
    background-color: #01adb9;
    box-shadow: 1px 4px 14px 0px #01adb9;
}

.info_head {
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #555EAB;
    text-decoration: underline;
    font-weight: 500;
}


.twenty:hover {
    background-color: #01adb9;
    color: #fefefe;
    box-shadow: 0px 4px 14px 0px #01adb9;
}

/* Quiz Section */
.questions {
    width: 90%;
    background-color: #1c1c1c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    position: relative;
}


.quiz_header p {
    background-color: #FCC250;
    font-size: 50px;
    font-weight: 600;
    color: #555EAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions_tab {
    width: 100%;
}

.quiz_card {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3px;
}

.quiz_card:hover {
    border-left: 1px solid #8E362C;
    border-bottom: 1px solid #8E362C;
    transition: 0.1s all ease;
}

.quizlets_inactive {
    width: 100%;
    border: 1px solid #16F1FF;
    background-color: #00e0f0;
    display: none;
}

.quizlets_active {
    width: 100%;
    border: 1px solid #8E362C;
    background-color: #8E362C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.checkbox {
    width: 30px;
    height: 30px;
    accent-color: #555eab;
    cursor: pointer;
}

.nav_btn {
    background-color: #555EAB;
    color: #FCC250;
    border: #555EAB 1px solid;
}

.nav_btn:hover {
    background-color: #FCC250;
    color: #555EAB;

    transition: all ease 0.3s;
}

#submit {
    background-color: #8E362C;
    color: #FCC250;
    border: #555EAB 1px solid;
    transition: all ease 0.3s;

}

#submit:hover {
    background-color: #FCC250;
    color: #555EAB;
    transition: all ease 0.3s;
}

.score_card {
    border: 1px solid #555EAB;
    box-shadow: 0px 4px 14px 0px #555EAB;
    position: fixed;
    top: 40%;
    left: auto;
    height: 200px;
    width: 300px;
    z-index: 5;
    background-color: #141414;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.score_card h2 {
    font-size: 28px;
    margin-bottom: 30px;
    background-color: #141414;
}

.score_card h1 {
    font-size: 48px;
    background-color: #141414;
}

#topic {
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 18px;
    background-color: #1c1c1c;
}


/* For Laptop */
@media only screen and (min-width: 768px) {
    body {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        font-size: 16px;

    }

    .nav_btn:hover {
        background-color: #16F1FF;
        color: #2c2c2c;
        transition: all ease 0.3s;
    }

    button {
        margin: 20px;
        border-radius: 15px;
        width: 150px;
        height: 40px;
        border: 1px solid #16F1FF;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }

    .navbar {
        position: relative;
        margin: 0;
        height: 67px;
        width: 100%;
        padding: 0px;
        background-color: #2c2c2c;
        border-bottom: 0.5px solid #555EAB;


        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #16F1FF;
    }


    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 25%;
        height: 90%;
        text-align: center;

    }


    .logo img {
        width: 66px;
        height: 60px;

    }

    .title {
        font-size: 35px;
        color: #FCC250;
        text-align: center;
        height: 60%;
        margin-top: 3%;
    }

    .logspan {
        color: #8E362C;
    }

    .links,
    .links a {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 20%;
        color: #FCC250
    }

    .link:hover,
    .link a:hover {
        border-bottom: #555EAB 0.5px solid;
        box-shadow: 2px 1px #555EAB;
        color: #555EAB;
        transition: all 0.3s ease;
    }


    /* Info Section */
    .info {
        margin-bottom: 90px;
        margin-top: 30px;
        padding: 10px;
        width: 80%;
        height: 100px;
    }

    .words {
        margin: 0;
        padding: 0;
    }


    .hundred {
        background-color: #16F1FF;
        color: #F3FEFF
    }

    .hundred:hover {
        background-color: #01adb9;
        box-shadow: 1px 4px 14px 0px #01adb9;
    }

    .info_head {
        font-size: 40px;
        text-align: center;
        width: 100%;
        font-weight: 500;

    }


    .twenty:hover {
        background-color: #01adb9;
        color: #fefefe;
        box-shadow: 0px 4px 14px 0px #01adb9;
    }

    /* Quiz Section */
    .questions {
        width: 90%;
        background-color: #1c1c1c;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content
    }


    .quiz_header p {
        background-color: #1c1c1c;
        font-size: 50px;
        font-weight: 600;
        color: #01adb9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .questions_tab {
        width: 100%;
    }

    .quiz_card {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 3px;


    }

    .quiz_card:hover {

        border-left: 1px solid #8E362C;
        border-bottom: 1px solid #8E362C;
        transition: 0.3s all ease;
    }

    .quizlets_inactive {
        width: 100%;
        border: 1px solid #16F1FF;
        background-color: #00e0f0;
        display: none;
    }

    .quizlets_active {
        width: 100%;
        border: 1px solid #8E362C;
        background-color: #8E362C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .checkbox {
        width: 30px;
        height: 30px;
        accent-color: #00e0f0;
        cursor: pointer;
    }

    .btns {
        background-color: #1c1c1c;
    }
}